.ms-wrapper {
  position: relative;

  .ms-form-field {
    cursor: pointer;
    position: relative;
    background-color: white;

    input.ms-ghost-input {
      border: 0px;
      outline: none;
      min-width: 50px;
      height: 1.1em;
    }
  }

  .ms-hidden-fake-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .ms-options {
    list-style-type: none;
    display: none;
    padding: 0;
    position: absolute;
    border: 1px solid var(--bs-gray-400);
    border-radius: .25rem;
    background-color: white;

    &.open {
      display: block;
    }

    top: calc(100% - 2px);
    left: 0;
    right: 0;
    z-index: 1;

    max-height: 14rem;
    overflow: auto;

    .ms-option {
      cursor: pointer;
      padding: .5rem 1rem;

      border-radius: .25rem;

      &:hover {
        background-color: var(--bs-gray-200);
      }

      .ms-check-icon {
        display: none;
      }

      &.selected {
        .ms-check-icon {
          display: initial;
        }
      }

      &.hidden {
        display: none;
      }
    }

    .ms-empty-option {
      padding: .5rem 1rem;

      &.hidden {
        display: none;
      }
    }
  }
}
