@use 'vars';

/*
 * Text utils
 */

.fw-l {
  font-weight: var(--fw-light);
}

.fw-r {
  font-weight: var(--fw-reg);
}

.fw-m {
  font-weight: var(--fw-m);
}

.fw-sb {
  font-weight: var(--fw-sb);
}

.fw-b {
  font-weight: var(--fw-b);
}

@each $name, $color in vars.$colors {
  .text-#{$name}, .svg-#{$name} {
    color: var(--#{$name});
  }
}

.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.ellipse {
  // NB. per funzionare deve essere in un container con una dimensione massima e overflow: hidden
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

/*
 * Flex layout utils
 */

.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex {
  flex: 1
}


/*
 * Margins and paddings
 */
@each $i in xxs, xs, s, m, l, xl, xl {

  .g-#{$i} {
    gap: var(--spacing-#{$i});
  }

  .mt-#{$i} {
    margin-top: var(--spacing-#{$i}) !important;
  }

  .mb-#{$i} {
    margin-bottom: var(--spacing-#{$i}) !important;
  }

  .ms-#{$i} {
    margin-left: var(--spacing-#{$i}) !important;
  }

  .me-#{$i} {
    margin-right: var(--spacing-#{$i}) !important;
  }

  .mh-#{$i} {
    @extend .ms-#{$i};
    @extend .me-#{$i};
  }

  .mv-#{$i} {
    @extend .mt-#{$i};
    @extend .mb-#{$i};
  }

  .m-#{$i} {
    @extend .mv-#{$i};
    @extend .mh-#{$i};
  }

  .pt-#{$i} {
    padding-top: var(--spacing-#{$i}) !important;
  }

  .pb-#{$i} {
    padding-bottom: var(--spacing-#{$i}) !important;
  }

  .ps-#{$i} {
    padding-left: var(--spacing-#{$i}) !important;
  }

  .pe-#{$i} {
    padding-right: var(--spacing-#{$i}) !important;
  }

  .ph-#{$i} {
    @extend .ps-#{$i};
    @extend .pe-#{$i};
  }

  .pv-#{$i} {
    @extend .pt-#{$i};
    @extend .pb-#{$i};
  }

  .p-#{$i} {
    @extend .pv-#{$i};
    @extend .ph-#{$i};
  }
}
