// Colors
$colors: (
  "primary": #005578,
  "text": #222,
  "secondary": #afca0b,
  "accent": #e55934,
  "background": #e7e8e8,
  "white": #fff,
  "black": #000,
);

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Spacings
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;

// Layout Breakpoints (see _layout.scss)
$xs: 400px;
$sm: 760px;
$md: 1100px;
$lg: 1360px;

// Fonts
$gFontName: 'Montserrat';
$font: $gFontName, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$handGFontName: 'Tangerine';
$handwritingFont: $handGFontName, cursive;

:root {
  @each $name, $val in $colors {
    --#{$name}: #{$val}
  }

  --fw-light: #{$fw-light};
  --fw-reg: #{$fw-regular};
  --fw-m: #{$fw-medium};
  --fw-sb: #{$fw-semibold};
  --fw-b: #{$fw-bold};

  --spacing-xxs: #{$space-xxs};
  --spacing-xs: #{$space-xs};
  --spacing-s: #{$space-s};
  --spacing-m: #{$space-m};
  --spacing-l: #{$space-l};
  --spacing-xl: #{$space-xl};

  --xs: #{$xs};
  --sm: #{$sm};
  --md: #{$md};
  --lg: #{$lg};

  --handwriting-font: #{$handwritingFont};
  --font: #{$font};
}
