.btn {
  // Variabili di base per la personalizzazione del bottone
  --btn-color: var(--text);
  --btn-bg: var(--background);
  --btn-fw: var(--fw-m);
  --btn-padding-h: var(--spacing-lg);
  --btn-padding-v: var(--spacing-sm);
  --btn-radius: var(--border-radius);

  --btn-border-width: 1px;
  --btn-border-color: var(--border);

  --btn-hover-color: var(--btn-color);
  --btn-hover-bg: var(--gray-200);
  --btn-hover-border: var(--btn-hover-bg);

  // Varianti stilistische
  &.btn-sm {
    --btn-padding-h: var(--spacing-md);
    --btn-padding-v: var(--spacing-xs);
    --btn-radius: 0.4rem;
    font-size: 0.85rem;
  }

  &.btn-primary {
    --btn-color: var(--text-light);
    --btn-bg: var(--primary);
    --btn-border-color: var(--btn-bg);

    --btn-hover-color: var(--text-light);
    --btn-hover-bg: var(--primary-700);
  }

  &.btn-green {
    --btn-color: var(--text-light);
    --btn-bg: var(--green-600);
    --btn-border-color: var(--btn-bg);

    --btn-hover-color: var(--text-light);
    --btn-hover-bg: var(--green-500);
  }

  &.btn-red {
    --btn-color: var(--text-light);
    --btn-bg: var(--red-600);
    --btn-border-color: var(--btn-bg);

    --btn-hover-color: var(--text-light);
    --btn-hover-bg: var(--red-500);
  }

  padding: var(--btn-padding-v) var(--btn-padding-h);
  border-radius: var(--btn-radius);

  font-weight: var(--btn-fw-m);
  text-align: center;
  cursor: pointer;

  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: var(--btn-border-width) solid var(--btn-border-color);
  outline: var(--btn-bg);

  &:hover {
    text-decoration: none !important;
    color: var(--btn-hover-color);
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border);
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
