header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);

  .content {
    padding: var(--spacing-md);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: var(--spacing-md);

      .nav-link {
        font-weight: var(--fw-m);

        &:hover {
          color: var(--accent);
          text-decoration: underline;
        }
      }
    }
  }
}
